<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productMapper">
    <select id="select" parameterType="java.util.HashMap" resultType="product">
        call GetProduct(#{no},#{product_seller})
    </select>
    <select id="selectCategory" resultType="java.lang.String">
        call GetCategory()
    </select>
    <select id="selectProductInCart" parameterType="java.util.HashMap" resultType="product">
        call GetProductInCart(#{id},#{product_no})
    </select>
    <insert id="insert" parameterType="product">
        call InsertProduct(
        #{product_name},
        #{product_location},
        #{product_imgname},
        #{product_price},
        #{product_seller},
        #{product_category})
    </insert>
    <insert id="insertProductInCart" parameterType="java.util.HashMap">
        call InsertProductInCart(#{id},#{product_no})
    </insert>
    <update id="update" parameterType="product">
        call UpdateProduct(
            #{product_no},
            #{product_name},
            #{product_location},
            #{product_imgname},
            #{product_price},
            #{product_category})
    </update>
    <delete id="delete" parameterType="int">
        call DeleteProduct(#{product_no})
    </delete>
    <delete id="deleteProductInCart" parameterType="int">
        call DeleteProductInCart(#{product_no})
    </delete>
</mapper>