<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="replyMapper">
    <select id="selectReplyList" parameterType="int" resultType="reply">
        call GetReply(#{no},null)
    </select>
    <select id="selectReply" parameterType="int" resultType="reply">
        call GetReply(null,#{no})
    </select>
    <insert id="insertReply" parameterType="reply">
        call InsertReply(
            #{reply_board_no},
            #{reply_writer},
            #{reply_contents},
            #{reply_parent});
    </insert>
    <update id="updateReplyContents" parameterType="java.util.HashMap">
        call UpdateReply(#{reply_board_no},#{reply_contents})
    </update>
</mapper>
